/*

 1. Use a more-intuitive box-sizing model.

*/

*, *::before, *::after {

   box-sizing: border-box;
  
  }
  

  
  html, body {
  
   height: 100%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
   line-height: 1.7 !important;
   letter-spacing: -0.01em !important;
   font-weight: 400 !important;
   word-spacing: 0.1em !important;
  }
  
  /*
  
   Typographic tweaks!
  
   4. Add accessible line-height
  
   5. Improve text rendering
  
  */
  
  body {
  
   line-height: 1.5;
  
   -webkit-font-smoothing: antialiased;
  
  }
  
  /*
  
   6. Improve media defaults
  
  */
  
  img, picture, video, canvas, svg {
  
   display: block;
  
   max-width: 100%;
  
  }
  
  /*
  
   7. Remove built-in form typography styles
  
  */
  
  input, button, textarea, select {
  
   font: inherit;
  
  }
  
  /*
  
   8. Avoid text overflows
  
  */
  
  p, h1, h2, h3, h4, h5, h6 {
  
   overflow-wrap: break-word;
  
  }
  
  /*
  
   9. Create a root stacking context
  
  */
  
  #root, #__next {
  
   isolation: isolate;
  
  }


  /* TOOLTIP */
  .tooltip-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    overflow: visible;
    font-size: 12px;
    width: 200px;
    height: auto;
    min-height: 60px;

  }
  .tooltip {
   position: relative;
   display: inline-block;
   font-size:11px;
   line-height: 1.1;
   white-space: wrap;
   font-weight: 300;
   max-width: 180px;
   padding: 2px 2px;
   text-decoration: none;
 }
 .tooltip * {
  text-decoration: none;
 }
 
 .tooltip .tooltiptext {
   visibility: hidden;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   bottom: -50%;
   left: 50%;
   margin-left: -60px;
   max-width: 160px;
   
   /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
   opacity: 0;
   transition: opacity 1s;
   font-size: 12px;
   line-height: 1.2;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }

 /* CUSTOM DATA ATTRIBUTES */

th {
  z-index: 30;
  border-bottom: 1px solid hsl(0, 0%, 70%) !important;
  box-sizing: border-box;
}
 td[data-column-id="platform"] *{
  font-weight: 600;
  font-size: 14px;
  color: black;
  text-decoration: none;
 }

 td[data-free-plan="true"]{
  background-color: hsl(146, 100%, 90%);
 }
 td[data-free-plan="false"][data-paid-plan="true"]{
  background-color: hsl(65, 100%, 90%);
 }
 td[data-free-plan="false"][data-paid-plan="false"]{
  background-color: hsl(16, 100%, 90%);
 }
 td[data-rating="1"],td[data-rating="2"],td[data-rating="3"],td[data-rating="4"],td[data-rating="5"] {
  font-size: 14px !important;
 }