[cmdk-list] {
    min-height: 300px;
    height: var(--cmdk-list-height);
    max-height: 500px;
    transition: height 100ms ease;
  }


  [cmdk-list] {
    scroll-padding-block-start: 8px;
    scroll-padding-block-end: 8px;
  }