#toc-box {
   margin: 1rem 0 !important;
   padding:  1rem !important;
}
#toc-title {
   border-bottom: 1px solid var(--slate-6);
}

#toc-body ul {
    margin: 0.5rem;
    list-style-type: disc;
}

#toc-body ul li {
    margin-left: 1rem;
    font-size: 14px;
    line-height: 1.5;
}

#toc-body ul li[data-heading-level="1"] {
   margin-left: 0 !important;
}
#toc-body ul li[data-heading-level="2"] {
   margin-left: 0 !important;
}
#toc-body ul li[data-heading-level="3"] {
   margin-left: 1.5rem !important;
}
#toc-body ul li[data-heading-level="4"] {
   margin-left: 3rem !important;
}
#toc-body ul li[data-heading-level="5"] {
   margin-left: 4rem !important;
}