/*
# ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ▶
LINK PREVIEW 
# ◀ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═
*/
.link-preview-card {
  padding: 8px !important;
  transition: background-color 0.2s ease;
  background-color: var(--slate-a2) !important;
  border-radius: 16px;
}

@media screen and (max-width: 640px) {
  .link-preview-card .link-preview-content {
    margin-top: 16px;
    padding: 8px;
  }
}

@media screen and (min-width: 640px) {
  .link-preview-card {
    max-height: var(--thumbnail-height) !important;
  }
  .link-preview-card .link-preview-thumb {
    max-width: 240px;
    margin-right: 16px;
  }

  .link-preview-card .link-preview-content {
    height: 100%;
    padding-top: 16px;
  }
}



.link-preview-card:hover {
  background-color: var(--slate-a4) !important;
}

.link-preview-card .aspect-ratio-box {
  border-radius: 8px;
  overflow: hidden;
}

/*
# ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ▶
RICH CONTENT
# ◀ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═
*/
/* On screens that are 600px or less, set the background color to olive */

#rich-content ul,
#rich-content ol {
  padding-left: 30px; /* adjust as needed */

}
#rich-content ul li {
  list-style-type: disc;
}

#rich-content ol li {
  list-style-type: decimal;
}

#rich-content li {
  margin-bottom: 0.5em;
  list-style-position: inside;
  display: list-item;
  text-indent: -1em !important;
}

#rich-content li p {
  display: inline;
}

#rich-content p {
  line-height: 1.7 !important;
  color: var(--text-low-contrast) !important;
}

/* # ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ▶
SMALL SCREEN
# ◀ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═*/
@media screen and (max-width: 640px) {

  #page-layout p,
#page-layout p *,
  #rich-content li,
  #rich-content li > *,
  #rich-content p,
  #rich-content em,
  #rich-content strong,
  #rich-content div {
    font-size: var(--fontSize-xs) !important;
  }
  h2.cms-rich-content {  line-height: 1.4; font-size: var(--fontSize-l)   !important; border-left: 2px solid var(--pink-8);padding-left: 4px; margin-top: 1rem; letter-spacing: -0.025em !important; }
  h3.cms-rich-content {  line-height: 1.4; font-size: var(--fontSize-m)   !important; border-left: 2px solid var(--purple-8);padding-left: 4px; margin-top: 1rem; letter-spacing: -0.025em !important; }
  h4.cms-rich-content {  line-height: 1.4; font-size: var(--fontSize-s)   !important; border-left: 2px solid var(--blue-8);padding-left: 4px; margin-top: 1rem; letter-spacing: -0.025em !important; }
  h5.cms-rich-content {  line-height: 1.4; font-size: var(--fontSize-xs)  !important; border-left: 2px solid var(--teal-8);padding-left: 4px; margin-top: 1rem; letter-spacing: -0.025em !important; } 
  h6.cms-rich-content {  line-height: 1.4; font-size: var(--fontSize-xs)  !important; border-left: 2px solid var(--teal-8);padding-left: 4px; margin-top: 1rem; letter-spacing: -0.025em !important; }

  p strong { font-size:  var(--fontSize-xs) !important;}
  h2 strong { font-size:  var(--fontSize-l) !important;}
  h3 strong { font-size:  var(--fontSize-m) !important;}
  h4 strong { font-size:  var(--fontSize-s) !important;}
  h5 strong { font-size:  var(--fontSize-xs) !important;}
  h6 strong { font-size:  var(--fontSize-xs) !important;}

}

/* # ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ▶
LARGE SCREEN
# ◀ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═*/
@media screen and (min-width: 640px) {

#page-layout p,
#page-layout p *,
#rich-content p,
#rich-content li,
#rich-content li p,
#rich-content li *,
#rich-content span,
#rich-content div {
  font-family: 'GeneralSans', -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif !important;
  font-weight: 400;
  line-height: 1.7;
  font-size: var(--fontSize-s) !important;
}

h2.cms-rich-content,
h3.cms-rich-content,
h4.cms-rich-content,
h5.cms-rich-content, 
h6.cms-rich-content  {
  font-family: 'GeneralSans', -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif !important;
  letter-spacing: -0.03em !important;
  line-height: 1.1 !important;
  margin-bottom: 16px
}

h2.cms-rich-content { font-weight: 600; font-size: var(--fontSize-xl) !important;  margin-top: 1.5rem !important;  border-left: 2px solid var(--pink-8);   padding-left: 4px !important;}
h3.cms-rich-content { font-weight: 600; font-size: var(--fontSize-l)  !important;  margin-top: 1.25rem !important; border-left: 2px solid var(--purple-8); padding-left: 4px !important;}
h4.cms-rich-content { font-weight: 600; font-size: var(--fontSize-m)   !important; margin-top: 1.1rem !important;  border-left: 2px solid var(--blue-8);   padding-left: 4px !important;}
h5.cms-rich-content { font-weight: 600; font-size: var(--fontSize-s)   !important; margin-top: 1rem !important;    border-left: 2px solid var(--teal-8);   padding-left: 4px !important;} 
h6.cms-rich-content { font-weight: 600; font-size: var(--fontSize-s)   !important; margin-top: 1rem !important;    border-left: 2px solid var(--teal-8);   padding-left: 4px !important;}

p strong { font-size:  var(--fontSize-s) !important;}
h2 strong { font-size:  var(--fontSize-xl) !important;}
h3 strong { font-size:  var(--fontSize-l) !important;}
h4 strong { font-size:  var(--fontSize-m) !important;}
h5 strong { font-size:  var(--fontSize-s) !important;}
h6 strong { font-size:  var(--fontSize-s) !important;}
}


.cms-rich-content a.cms-link {
  background-color: transparent;
  border-bottom: 2px solid #37fe90;
  box-sizing: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cms-rich-content a.cms-link:hover {
  background-color: #37fe90;
  color: black !important;
  outline-width: 0px;
  text-decoration: none;
}

.cms-rich-content.cms-video {
  padding-top: 16px;
  padding-bottom: 64px;
}

/*
# ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ▶
PROS & CONS 
# ◀ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═
*/
.pros-cons {
  margin-bottom: 32px;
  border: 1px solid var(--subtle-border);
  border-radius: var(--radius);
  overflow: hidden;
  padding: 16px;
  width: 100%;

}

.pros-cons ul {
  margin: 0;
  padding-left: 16px;
  list-style: disc !important;
}

#platform-pros::before {
  content: "PROS";
  font-weight: 500
}

#platform-cons::before {
  content: "CONS";
  font-weight: 500
}

#platform-pros {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--cyan-a2);
}

#platform-cons {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--pink-a2);
}