
@import "./colors.css";
@import "./tailwind.css";
@import "./typography.css";
@import "./tables.css";
@import "./post.css";
@import "./wix.css";
@import "./tokens.css";
@import "./cmdk.css";
@import "./swiper.css";
@import "./syntax.css"; 




body {
    background-color: var(--app-bg);
}

* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* PLACEHOLDER ANIMATION */
::placeholder {
    transition: all 350ms ease;
}

/* GLASSMORPHISM */

.intense-shadow {
    box-shadow: rgba(0, 0, 0, 0.004) 0px 0.783403px 0.783403px 0px, rgba(0, 0, 0, 0.01) 0px 1.921069px 1.921069px 0px, rgba(0, 0, 0, 0.024) 0px 3.634294px 3.634294px 0px, rgba(0, 0, 0, 0.04) 0px 6.354858px 6.354858px 0px, rgba(0, 0, 0, 0.07) 0px 11.047367px 11.047367px 0px, rgba(0, 0, 0, 0.125) 0px 20.249729px 20.249729px 0px, rgba(0, 0, 0, 0.25) 0px 40px 40px 0px;
}



section.section>h2 {
    color: var(--slate-12);
    text-transform: uppercase;
}

#page-card {
    /* 
    background-color: var(--slate-a12) !important;
    */
    background-color: var(--card-blur-bg) !important;
    backdrop-filter: blur(14px) saturate(var(--card-blur-saturation));
    -webkit-backdrop-filter: blur(14px) saturate(var(--card-blur-saturation));
}

.list-card {
    background-color: var(--card-blur-bg) !important;
    box-shadow: var(--shadow-list-card);
    backdrop-filter: blur(var(--card-blur-radius)) saturate(var(--card-blur-saturation));
    -webkit-backdrop-filter: blur(var(--card-blur-radius)) saturate(var(--card-blur-saturation));
    transition: all 0.3s ease !important;
    max-width: 400px;
}

.list-card:hover {
    border-color: var(--hover-ui-border);
}

.list-card:hover svg {
    color: white;
}

.post-card {
    transition: all 0.2s ease;
    background: var(--card-blur-bg) !important;
    transform: translate(0, 0);
}

.post-card img {
    transition: all 0.8s ease;
}

.post-card:hover img:not(.logo) {
    transform: scale(1.1) !important;
}


.horizontal-feature-card {
    background: var(--card-blur-bg) !important;
    backdrop-filter: blur(32px) saturate(40%);
}

.content-auto {
    content-visiblity: auto !important;
    contain-intrinsic-size: 1000px !important;
    /* Explained in the next section. */

}